<!DOCTYPE html>
<html>
    <head>
        <style>
            body
            {
                margin: 0px;
            }
            div
            {
                width: 50%;
                word-break: break-all;
            }
        </style>
    </head>
    <body>
        <p>List of Palindromes: </p>
        <div>
            <%= locals.text %> 
        </div>
    </body>
</html>
